.book-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  padding: 10px;
  flex-direction: row;
}
.container1 {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  height: 80vh;
}
.book-title {
  width: 100%;
  padding: 10px;
  font-size: xx-large;
}
.book-details {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.book-cover {
  height: 100%;
}
.book-info {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.book-description {
  display: none;
}
.container2 {
  width: 50vw;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

@media (max-width: 720px) {
  .book-details {
    flex-direction: column;
  }
  .book-title {
    font-size: x-large;
  }
  .book-description {
    font-size: small;
  }
}

@media screen and (max-width: 480px) {
  .book-main {
    flex-direction: column;
  }
  .container1 {
    width: 100vw;
  }
  .container2 {
    width: 100vw;
  }
}
