.home-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  width: 100%;
}
.search-box {
  height: 50vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.heading-home {
  font-size: x-large;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.book-list-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
}
.loading-sign {
  font-size: large;
}
.book-card-home {
  height: 300px;
  width: 150px;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  overflow: scroll;
  scrollbar-width: none;
}
.book-card-home:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  background-color: #1a1a1a;
}
.book-card-home > img {
  width: 100%;
}

@media (max-width: 720px) {
  .book-list-home {
    gap: 0;
    margin: 0;
  }
  .book-card-home {
    height: 400px;
    width: 200px;
    font-size: 12px;
  }
  .heading-home {
    font-size: x-large;
  }
  .search-box {
    height: 30vh;
  }
}
