footer {
  min-height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: rgb(24, 24, 24);
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-links > a > span:hover {
  text-decoration: underline;
}

@media screen and (max-width: 720px) {
  .footer-links {
    gap: 5px;
  }
  .footer-links > a > span,
  .footer-links > Link > span {
    font-size: small;
  }
}
